.h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color:blue;
    background-color: red;
}

.center-aligned-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-aligned {
    list-style-position: inside;
    text-align: center;
}

.orange-button {
    background-color: orange;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: white;
}

a:hover {
    color: red;
}